<style>
    #breadcrumb {
        display: flex;
        flex-direction: column;
    }

    #breadcrumb .container {
        margin: 0 6rem;
        padding: 0 2rem;
    }
</style>

<div class="breadcrumb">

    <ul class="container">
        <li class="text-top">
            <a href="">Trang Chủ</a> / Tất cả sản phẩm
        </li>
        <li class="text-main">TẤT CẢ SẢN PHẨM</li>
        <li class="text-bottom">
            Danh Mục
            <ul>
                <li><a href="">Áo</a></li>
                <li><a href="">Áo khoác</a></li>
                <li><a href="">Quần</a></li>
            </ul>
        </li>
    </ul>
</div>