<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #breadcrumb {
        display: flex;
        flex-direction: column;
    }

    #breadcrumb .container {
        margin: 0 10rem;
        padding: 0 2rem;
    }
</style>

<body>

    <div class="breadcrumb">
        <ul class="container">
            <li class="text-top">
                <a href="">Trang Chủ</a> / Tất cả sản phẩm
            </li>
            <li class="text-main">TẤT CẢ SẢN PHẨM</li>
            <li class="text-bottom">
                Danh Mục
                <ul>
                    <li><a href="">Áo</a></li>
                    <li><a href="">Áo khoác</a></li>
                    <li><a href="">Quần</a></li>
                </ul>
            </li>
        </ul>
    </div>

</body>

</html>